*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.caja{
    position: relative;
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
}

#posRelative {
    position: relative;
    background-color: blue;
    top: 30px;
    left: 40px;
}

#posStatic {
    position: static;
    background-color: blue;
    top: 30px;
    left: 40px;
}

#posFixed {
    position: fixed;
    background-color: green;
    top: 30px;
    left: 40px;
}

#posAbsolute {
    position: absolute;
    background-color: goldenrod;
    top: 30px;
    left: 40px;
}