*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: grey;
    padding: 10px 50px;
}

.image-container{
    display: flex;
}

#logo img{
    width: 50px;
}

.imglista{
    width: 200px;
}
